*.iml

.gradle
/build

local.properties
/local.properties

*.log

captures/
.externalNativeBuild/
.cxx/
*.apk
output.jsoncaptures/
.externalNativeBuild/
.cxx/
*.apk
output.json

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json
*.hprof

